{% extends "base.html" %}

{% block base_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
{% endblock %}

{% block base_body %}
    <div class="container">
        <div class="row">
            <h1>Under Construction (501)</h1>
            <p>It looks like this page is under construction! Check back later.</p>
        </div>
    </div>
{% endblock %}