<head>
</head>

<body>
    <!-- Modal -->
    <div id="modal-{{ project['name'] }}" class="modal modal-window">
        <div class="flex-window">
            <div class="modal-padding modal-action modal-close"></div>
            <div class="modal-background">
                    <!-- Close Button -->
                    <a class="modal-action modal-close modal-quit-button btn-floating btn-small waves-effect waves-light">
                        <i class="material-icons">
                            close
                        </i>
                    </a>

                    <!-- Modal Header -->
                    <div class="modal-header row no-margin-bottom">
                        <!-- Project Icon -->
                        <div class="col col-icon">
                            <div class="icon-container">
                                <img class="icon-image" src={{project['icon']}}>
                            </div>
                        </div>

                        <!-- Project Title & Tags -->
                        <div class="col col-title">
                            <div class="center-if-small title-margin">
                                <span class="modal-title">
                                    {{ project['name'] }}
                                </span>
                                {% if 'tags' in project %}
                                    <div class="md-chips container-inner" style="overflow-x: hidden;">
                                        {% for tag in project['tags'] %}
                                        <div class="md-chip md-chip-clickable">
                                            <a class="md-chip-link" href="{{ url_for('projects.landing', tags=tag) }}">
                                                {{tag}}
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if 'github' in project %}
                                    <div style="margin-top: 8px;">
                                        <span class="media-box">
                                            <a target="_blank" href={{project['github']}}>
                                                <img class="media-logo" src="static/images/github.svg">
                                            </a>
                                            Github
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Modal Content -->
                    <div class="modal-content">
                        <!-- Custom Layout -->
                        {% if 'html' in project %}
                            {% include project['html'] %}
                        <!-- Auto Content -->
                        {% else %}
                            <!-- Project Description -->
                            {% if 'long' in project %}
                                {% for par in project['long'] %}
                                    <p>{{par|safe}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                        <!-- Project Photos -->

                        <!-- Skills & Tech -->

                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <hr class="hr-one">
                        <span>
                            {% if 'date' in project %}
                                <a class="status">Released: {{project['date']}}</a>
                            {% else %}
                                <a class="status">Work in Progress</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            <div class="modal-padding modal-action modal-close"></div>
            <div class="modal-padding-extra modal-action modal-close"></div>
        </div>
    </div>

    <!-- Card -->
    <div class="col s12 m6 l4">
        <div class="card hoverable project">
            <!-- Project Icon -->
            <div class="card-image waves-effect waves-block waves-light activator">
                {% if 'icon' in project %}
                    <img class="card-image activator" src={{project['icon']}}>
                {% else %}
                    <img class="card-image activator" src="/static/images/dev.jpg">
                {% endif %}
            </div>

            <!-- Card Content -->
            <div class="card-content activator">
                <!-- Project Name -->
                <span id="title" class="no-margin-bottom card-title activator grey-text text-darken-4" title="{{project['name']}}">
                    {{project['name']}}
                </span>
                <!-- Tags -->
                {% if 'tags' in project %}
                    <div class="container-outer">
                        <div class="md-chips container-inner">
                            {% for tag in project['tags'] %}
                            <div class="md-chip md-chip-clickable">
                                <a class="md-chip-link" href="{{ url_for('projects.landing', tags=tag) }}">
                                    {{tag}}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="row no-margin-bottom">
                    <!-- Read More -->
                    <div class="col col-reveal-title">
                        {% if ('long' in project) or ('html' in project) %}
                            <span><a class="modal-trigger" href="#modal-{{ project['name'] }}">Read More</a></span>
                        {% endif %}
                        {% if (('long' in project) or ('html' in project)) and ('github' in project) %}
                            <span> | </span>
                        {% endif %}
                        {% if 'github' in project %}
                            <span><a class="github" href={{project['github']}}>Github</a></span>
                        {% endif %}
                    </div>

                    <!-- show more -->
                    <div class="col col-reveal-icon">
                        {% if 'short' in project %}
                            <span>
                                <i class="material-icons right activator">more_vert</i>
                            </span>
                        {% endif %}
                    </div>
                </div>

            </div>

            <!-- Card Reveal -->
            {% if 'short' in project %}
                <div class="card-reveal">
                    <div class="row no-margin-top no-margin-bottom">
                        <div class="col col-reveal-title">
                            <span class="card-title grey-text text-darken-4">{{project['name']}}</span>
                        </div>
                        <div class="col col-reveal-icon">
                            <span class="card-title activator" style="display: contents;"><i class="material-icons right vcenter-close">close</i></span>
                        </div>
                    </div>
                    {% if 'date' in project %}
                        <div><span class="status">{{project['date']}}</span></div>
                    {% else %}
                        <div><span class="status">Work in Progress</span></div>
                    {% endif %}
                    <p>{{project['short']}}</p>

                    <div class="bottom-aligned">
                        {% if ('long' in project) or ('html' in project) %}
                            <span><a class="modal-trigger" href="#modal-{{ project['name'] }}">Read More</a></span>
                        {% endif %}
                        {% if (('long' in project) or ('html' in project)) and ('github' in project) %}
                            <span> | </span>
                        {% endif %}
                        {% if 'github' in project %}
                            <span><a class="github" href={{project['github']}}>Github</a></span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>
