<p>
    A Counter Strike: Global Offensive bomb defusal map set in Namibia mine.
    Featuring a highly competitive layout focused around map control, and 100% custom environment art.
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/grind/truck.jpg">
</div>

<h5>History</h5>
<p>
    I original started the de_grind as a passion project to reinvent de_dust, a classic Counter Strike map which has fallen out of popularity.
    While very little of de_dust exists in the final version of de_grind the competitive feel and the art style, albeit more industrial, carried over into de_grind.
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/grind/bsite.jpg">
</div>

<p>
    Over the course of 2 years the project took a lot of different directions, styles, and concepts before reaching its finished state.
    Early on the map went through many themes; an sandy North Africa theme, then a small coastal Italian village, and then through a modern condo theme.
    During this time I grew rapidly as a level designer and more proficient with the toolset.
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/grind/outside.jpg">
</div>

<p>
    I eventually joined Mapcore, a level design community, where I meet Jan Huygelen.
    Together we worked on polishing the gameplay and trying to pin down a theme.
    Unfortunately, before we could pin down a theme and finish the map Jan got a offer to work on a high profile project, de_mirage2 later called de_thrill.
    While working with Jan, I learned the depths of the source engine and developed my skill set as an artist.
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/grind/underground.jpg">
</div>

<p>
    As I was committed to finish the project and did not have the skill set to finish the project on my own, I sought after a new team member.
    I eventually recruited Konstantin Loffler, another level designer, to finalize the gameplay of the map.
    Together we extensively playtested the map and settled on the final theme, a modern mining facility.
<p>
    We then recruited Cory de la Torre to act as our lead Environment Artist.
    With his help we finished the art and shipped with 100% self generated art content.
</p>




