<p>
    A friend, studing Computer Science in Germany, was struggling implementing mouse events for her Java homework.
    As it was quite late in the evening in Germany she reached out to her "American" friend for help.
    To help her out I made a very dumbed down version of paint (if I dare even call it that) where you can place colored shapes using the different types of mouse events.
</p>
<p>
    While this project is not very advanced or impressive, I think it is important to publish example code like this to aid in others' learning.
</p>