
<p>
    If you are reading this then you most likely are viewing the live project!
    I built this portfolio as a way to host my project, share a bit about me and learn some frontend development.
</p>

<p>
    Here are the key features of this project!
</p>

<ul class="ul-bullets">
    <li>A fully reactive layout friendly for desktop, Iphone, and Android.</li>
    <li>A modern sleek design to show off you and your projects.</li>
    <li>An easy way to maintain and update the portfolio without knowing HTML, CSS, or JS. You only need to know Json, and Python!</li>
    <li>Dynamic page layouts to match your content - no need to fight the layout.</li>
    <li>Awesome animations to prevent your skills from just being plain text. </li>
</ul>

<p>For more details on this project visit the github repo.</p>