



<p>
    <b>Note:</b> This project is a work in progress and is not complete.
    In the close future I hope to host the application on the web for others to use!
</p>


<h5>Goal</h5>
<p>
    I have always enjoyed seeing what the Seattle Fire Department is doing through out the day.
    However, while I can view the department's activity on their <a href="http://www2.seattle.gov/fire/realtime911/getRecsForDatePub.asp?action=Today&incDate=&rad1=des">website</a> I always wondered the following:
    <ul class="ul-bullets">
        <li>Where is that incident in relation to where I am?</li>
        <li>What does do the emergency code mean?</li>
        <li>How and where can I learn more about a large event?</li>
        <li>What do the vehicle codes mean and what do the vehicles look like?</li>
        <li>How common are these types of incidents?</li>
        <li>How long does it take for the department to arrive to an incident and how long are they there?</li>
    </ul>
    With this project I hope to create an easy way for people to learn and share info about incidents in the Seattle area.
</p>
<p>
    Another large driving force for this project is building my skills as a fullstack developer and learning more about starting a business.
</p>



<h5>Images</h5>
<div class="row">
    <div class="col s6 m4 l4">
            <img class="article-img" src="/static/images/projects/seattle-fire-dispatch/image_1.png">
    </div>
    <div class="col s6 m4 l4">
            <img class="article-img" src="/static/images/projects/seattle-fire-dispatch/image_2.png">
    </div>
    <div class="col s6 m4 l4">
            <img class="article-img" src="/static/images/projects/seattle-fire-dispatch/image_3.png">
    </div>
</div>

<h5>Stack</h5>
<ul class="ul-bullets">
    <li>
        <b>Frontend:</b> Flask, Javascript, Html, CSS, Sass, Mapbox
    </li>
    <li>
        <b>Database:</b> Postgres, Redis
    </li>
    <li>
        <b>Backend:</b> Python
    </li>
</ul>