<p>
    TEXT HERE
</p>

<h5>Exploratory Data Analysis</h5>
<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/used-car-analysis/dist_price.png">
</div>
<p>
    Over all the price distribution quite normal.
    As one would expect the distribution mirrors the new car market with a skew towards the cheaper vehicles.
    It appears that the average car price hovers around $6000, with the median around $15000.
</p>
<p>
    Something that may stand out is the spike in car prices around the zero dollar mark.
    This is due to the popular trick of listing your car at $0 which stems from people ordering the listings from least expensive to most expensive.
    You can see a similar effect in a phonebook with companies names starting with "a", "aa", or even "aaa".
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/used-car-analysis/dist_year.png">
</div>
<p>
    Nothing appears to be out of the ordinary for this distribution.
    It appears that most people will sell their car after 5 to 8 years of use.
    It is also worth noting that there is a large dip in available cars for sale from 2009 and 2010.
    This suggests that less cars were purchased during this period due to economical hardships.
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/used-car-analysis/dist_odo.png">
</div>
<p>
    Here we see average used car on craigslist has around 100,000 miles on the odometer.
    We also see that it is popular to list the car around 0 miles on the odometer, a similar trick to listing the car for $0.
    The fact that this distribution is almost the average brings up an interesting question of "Where do all the old cars go after they hit 100k miles".
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/used-car-analysis/make_count.png">
</div>
<p>
    We have always heard that "American Made" was a big selling point for cars but this really shows the magnitude of that preference.
    With Ford, and Chevrolet dominating the marking it is interesting to see GMC and Ram a much smaller part of the used market.
</p>

<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/used-car-analysis/price_brand.png">
</div>
<p>

</p>


<h5>Cleaning the Data</h5>
<p>
    As one could imagine Craigslist postings don't always contain the correct and often are incomplete.
    To combat this I impo
</p>