<p>
    During an interview I was asked a whiteboard question to design a vending machine in C.
    After the interview I took the time to implement my solution and identify design issues.
</p>
<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/vending-machine/Purchase.png">
</div>
<p>
    The program generates a random inventory from a list of possible snacks, sets a price, and a random quantity.
    The inventory is then displayed to the user in the terminal.
    The user is then able to select a item from the vending machine and choices how much they want to pay.
    If the user pays enough money for the snack, the machine dispenses the snack and change.
</p>