<h5>What are Voronoi Diagrams?</h5>
<p>
    A voronoi diagram is a partitioning of a plane with n generating points into convex polygons such that each polygon contains exactly one generating point and every point in a given polygon is closer to its generating point than any other point.
    They are also known as Voronoi tessellation, Voronoi decomposition, Voronoi Partition, or Dirichlet tessellation.
</p>

<h5>Creating Art</h5>
<p>
    Using a Voronoi Diagram we can create mosaic or plainting like repersentations of an original image. To do this we use the following algorithm:
</p>

<ul class="ul-bullets">
    <li>
        Given an image I, generate a random set of n points P which lies within the perimeter of I.
    </li>
    <li>
        Generate a Voronoi Diagram V from the set of points P. Let v_i denote a polygon in V.
    </li>
    <li>
        Color each polygon v_i using the pixel valaue from I located at the center of v_i.
    </li>
    <li>
        If a polygon v_i center is not located on I, color v_i using the pixel value from the closest point on I to the center of v_i.
    </li>
</ul>

<p>
    While using the algorithm the final image can vastly differ depending on your set of points P.
    For instance, if you generate your set P using a Gaussian distribution, increasing the amount of points n improves the clarity of the final image.
    While using a skewed distribution to create P can make a sense of depth or focus to the final image.
</p>

<h5>Raw Image</h5>
<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/voronoi/Land_1.jpg">
</div>

<h5>Voronoi Representation</h5>
<div class="article-img-container">
    <img class="article-img" src="/static/images/projects/voronoi/Land_1_Final.png">
</div>