{% extends "base.html" %}

{% block base_head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/about.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/card.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">

{% endblock %}

{% block base_body %}
<div class="container">
    <div class="row no-margin-top">
        <!-- Background for Header -->
        <div class="fade">
            <div class="hero-container">
                <div class="hero-image" style="background-image: url('{{ url_for('static', filename = 'images/about/hero.png') }}');">
                    <fade/>
                </div>
            </div>
        </div>

        <!-- Profile Card and About -->
        <div class="row display-flex profile-container no-margin-top no-margin-bottom">
            <!-- Profile Card -->
            <div class="col s12 m4 l3">
                <div>
                    <div class="profile card hoverable">
                        <div class="profile-img-container">
                            <img class="profile-img" src={{about['avatar']}}>
                        </div>
                        <div class="center">
                            <h5>{{about['name']}}</h5>
                        </div>
                        <div class="center">
                            <p>{{about['title']}}</p>
                        </div>
                        <div class="center">
                            <div>
                                {% if about['github'] is not none %}
                                <a target="_blank" href={{about['github']}}>
                                    <img class="title-logo" src="static/images/github.svg">
                                </a>
                                {% endif %}
                                {% if about['linkedin'] is not none %}
                                <a target="_blank" href={{about['linkedin']}}>
                                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- About -->
            <div class="col s12 m8 l9">
                <div class="card hoverable align-bottom">
                    <div class="card-content">
                        <span class="card-title">
                            About
                        </span>
                        <hr class="hr-one">
                        {% for par in about['summary'] %}
                            <p>{{par|safe}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Education -->
        {% if 'education' in about %}
            <div class="col s12 m12 l12">
                <div class="card hoverable">

                    <!-- Card Front -->
                    <div class="card-content">
                        <!-- Card Title -->
                        <span class="card-title activator">
                            Education
                            <i class="material-icons right activator">more_vert</i>
                        </span>
                        <hr class="hr-one">
                        <!-- Content -->
                        {% for block in about['education'] %}
                            <div class="row no-margin-bottom">
                                <!-- Logo of University -->
                                <div class="col s0 m2 l2 hide-if-small">
                                    {% if 'logo' in block %}
                                        <img class="experience-img" src={{block['logo']}}>
                                    {% else %}
                                        <img class="experience-img" src="/static/images/dev.jpg">
                                    {% endif %}
                                </div>

                                <!-- University Name, Degree, and Dates -->
                                <div class="col s12 m10 l10">
                                    <!-- University Name -->
                                    <span>
                                        <h5 class="no-margin-top no-margin-bottom">{{block['university']}}</h5>
                                    </span>
                                    <!-- Degree name and Type -->
                                    <span class="location-title">
                                        {{ block['degree'] }}
                                        {% if 'degree_ab' in block %}
                                            - {{ block['degree_ab'] }}
                                        {% endif %}
                                        , {{ block['focus'] }}
                                    </span>
                                    <br>
                                    <!-- Dates -->
                                    {% if (('date_start' in block) and ('date_end' in block)) %}
                                        {{ block['date_start'] }} - {{ block['date_end'] }}
                                    {% elif 'date_end' in block %}
                                        {{ block['date_end'] }}
                                    {% elif 'date_start' in block %}
                                        {{ block['date_start'] }} - Present
                                    {% endif %}
                                    <br>
                                </div>

                                <!-- Empty Col -->
                                <div class="col s0 m2 l2">

                                </div>

                                <!-- Activities and Clubs -->
                                <div class="col s12 m10 l10 margin-top margin-bottom">
                                    {% if 'activities' in block %}
                                        {% for sub_block in block['activities'] %}
                                            {% if 'group' in sub_block %}
                                                <span style="font-weight: bold;">
                                                    {{ sub_block['group'] }}
                                                </span>
                                            {% endif %}
                                            <ul class="bullet ul-margin no-margin-bottom">
                                                {% for par in sub_block['details'] %}
                                                    <li class="bullet"> {{par|safe}} </li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Card Reveal -->
                    <div class="card-reveal y-scroll">
                        <!-- Card Title -->
                        <span class="card-title">
                            Courses
                            <i class="material-icons right vcenter-close activator">close</i>
                        </span>
                        <hr class="hr-one">

                        <!-- Content -->
                        <div class="row no-margin-bottom ">
                            {% for block in about['education'] %}
                                {% if about['education']|length > 1 %}
                                    <div class="col s12 m12 l12" style="margin-bottom: 2px;">
                                        <span style="font-weight: bold; font-size: 17px;">
                                            {{block['university']}}
                                        </span>
                                    </div>
                                {% endif %}
                                {% for sub_block in block['courses'] %}
                                    <!-- Subject Container -->
                                    <div class="col s12 m6 l6 margin-bottom no-padding">
                                        <div class="col s12 m12 l12">
                                            <!-- Subject Title -->
                                            {% if 'subject' in  sub_block %}
                                                <span style="font-weight: bold;">
                                                    {{ sub_block['subject'] }}
                                                </span>
                                                <hr class="hr-two">
                                            {% endif %}

                                            <!-- Class -->
                                            {% for class in sub_block['classes'] %}
                                                <div class="col s6 m6 l6 overflow-x">
                                                    {{ class }}
                                                </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Experiences -->
        <div class="col s12 m12 l12">
            <div class="card hoverable">
                <div class="card-content">
                    <!-- Card Title -->
                    <span class="card-title">
                        Experiences
                    </span>
                    <hr class="hr-one">

                    <div class="row no-margin-bottom">
                        {% for block in about['experience'] %}
                            <!-- Image -->
                            <div class="col s0 m2 l2 hide-if-small">
                                <div class="fixed-height">
                                    {% if 'logo' in block %}
                                        <img class="experience-img" src={{block['logo']}}>
                                    {% else %}
                                        <img class="experience-img" src="/static/images/dev.jpg">
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Title -->
                            <div class="col s12 m10 l10">
                                <span class="skill-title" title={{block['company']}}>
                                    <span>
                                        <h5 class="no-margin-top no-margin-bottom">{{block['title']}}<i class="material-icons right"></i></h5>
                                    </span>
                                    <span class="location-title">
                                        {{block['company']}}
                                    </span>
                                    <br>
                                    {{block['location']}}
                                </span>
                            </div>

                            <!-- Spacer -->
                            <div class="col s0 m2 l2 hide-if-small">

                            </div>

                            <!-- Info -->
                            <div class="col s12 m10 l10 margin-bottom">
                                <!-- Summary -->
                                {% if 'summary' in block %}
                                    <div class="margin-top">
                                        {% for par in block['summary'] %}
                                            <p>{{ par|safe }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <!-- Details or Bullets -->
                                {% if 'details' in block %}
                                    <ul class="bullet ul-margin no-margin-bottom">
                                        {% for detail in block['details'] %}
                                            <li class="bullet">{{detail}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Skills -->
        {% if 'skills' in about %}
            <div class="col s12 m12 l12">
                {% for block in about['skills'] %}
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title activator">
                            {{block['topic']}}
                            <i class="material-icons right activator">more_vert</i>
                        </span>
                        <hr class="hr-one">
                        <div class="row text-center no-margin-bottom">
                            {% for skill in block['info'] %}
                            <div class="col s6 m4 l2 center skill-tile">
                                <div>
                                    <div class="fixed-height">
                                        <img class="responsive-img" src={{skill['image']}}>
                                    </div>
                                    {{skill['name']}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title activator">
                            Proficiency
                            <i class="material-icons right vcenter-close activator">close</i>
                        </span>
                        <hr class="hr-one">
                        {% for skill in block['info'] %}
                            <div class="col s6 m12 l6">
                                {% if skill['level'] == "novice" %}
                                    <div class="hide-if-small">
                                        <div class="bar novice">
                                            <div class="novice-text">
                                                <b class="bar-label">{{skill['name']}}</b>
                                                <b class="bar-level">Novice</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center hide-if-large hide-if-landspace">
                                        <svg viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg"
                                                d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <path class="circle novice"
                                                stroke-dasharray="40, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <text x="18" y="20.35" class="circle-label">Novice</text>
                                        </svg>
                                        {{skill['name']}}
                                    </div>
                                {% elif skill['level'] == "skilled" %}
                                    <div class="hide-if-small">
                                        <div class="bar skilled">
                                            <div class="skilled-text">
                                                <b class="bar-label">{{skill['name']}}</b>
                                                <b class="bar-level skilled">Skilled</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center hide-if-large hide-if-landspace">
                                        <svg viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg"
                                                d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <path class="circle skilled"
                                                stroke-dasharray="55, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <text x="18" y="20.35" class="circle-label">Skilled</text>
                                        </svg>
                                        {{skill['name']}}
                                    </div>
                                {% elif skill['level'] == "proficient" %}
                                    <div class="hide-if-small">
                                        <div class="bar proficient">
                                            <div class="proficient-text">
                                                <b class="bar-label">{{skill['name']}}</b>
                                                <b class="bar-level">Proficient</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center hide-if-large hide-if-landspace">
                                        <svg viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg"
                                                d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <path class="circle proficient"
                                                stroke-dasharray="70, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <text x="18" y="20.35" class="circle-label">Proficient</text>
                                        </svg>
                                        {{skill['name']}}
                                    </div>
                                {% elif skill['level'] == "advanced" %}
                                    <div class="hide-if-small">
                                        <div class="bar advanced">
                                            <div class="advanced-text">
                                                <b class="bar-label">{{skill['name']}}</b>
                                                <b class="bar-level">Advanced</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center hide-if-large hide-if-landspace">
                                        <svg viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg"
                                                d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <path class="circle advanced"
                                                stroke-dasharray="85, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <text x="18" y="20.35" class="circle-label">Advanced</text>
                                        </svg>
                                        {{skill['name']}}
                                    </div>
                                {% elif skill['level'] == "expert" %}
                                    <div class="hide-if-small">
                                        <div class="bar expert">
                                            <b class="bar-tabel">{{skill['name']}}</b>
                                            <b class="bar-level">Expert</b>
                                        </div>
                                    </div>
                                    <div class="center hide-if-large hide-if-landspace">
                                        <svg viewBox="0 0 36 36" class="circular-chart">
                                            <path class="circle-bg"
                                                d="M18 2.0845
                                                  a 15.9155 15.9155 0 0 1 0 31.831
                                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <path class="circle expert"
                                                stroke-dasharray="100, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                            />
                                            <text x="18" y="20.35" class="circle-label">Expert</text>
                                        </svg>
                                        {{skill['name']}}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Projects -->
        {% if 'projects' in about %}
            <div class="col s12 m12 l12">
                <div class="card hoverable card-projects">
                    <div class="card-content">
                        <span class="card-title">
                            Project Highlights
                            <i class="material-icons right activator"></i>
                        </span>
                        <hr class="hr-one">
                        <div class="row no-margin-bottom">
                        {% for project in projects %}
                            {% include "card.html" %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}