{% extends "base.html" %}

{% block base_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
{% endblock %}

{% block base_body %}
    <div class="container">
        <div class="row">
            <h1>You don't have permission to do that (403)</h1>
            <p>Please check your account and try again</p>
        </div>
    </div>
{% endblock %}