{% extends "base.html" %}

{% block base_head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
{% endblock %}

{% block base_body %}
 <div class="container">
     {% if tags is not none %}
        <div class="row">
            <div class="col s12 m12 l12">
                <span><h5>Filter: </h5></span>
                {% for tag in tags %}
                    <div class="md-chip md-chip-clickable">
                        <a class="md-chip-link" href="{{ url_for('projects.landing') }}">
                            {{tag}}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for project in projects %}
            {% include "card.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}