.modal-window{
    max-width: 928px !important;
    width: 85% !important;
}

/* Quit Button */
.modal-quit-button{
    margin: 15px;
    color: #fff;
    border-radius: 50%;
    background-color: #bfbfbf;
    z-index: 2;
    position: absolute;
    right: 0;
}

/* Header */
.modal .modal-header{
    margin-top: 30px;
    margin-bottom: 0px;
}

.col-icon {
    width: 220px;
}

.col-title {
    width: calc(100% - 225px)
}

@media only screen and (max-width: 600px){
    .col-icon{
        width: 100%;
    }

    .col-title{
        width: 100%;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

img.icon-image {
    max-height: 180px;
    width: auto;
}

.modal-title{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2px;
}

.title-margin {
    margin-top: 70px;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .center-if-small{
        text-align: center;
        align-content: center;
        margin-top: 0px;
    }
}

/* Container */
.modal .modal-content{

}

/* Footer */
.modal .modal-footer{
    height: 20px;
}

/* Other */
.no-margin-bottom {
    margin-bottom: 0px;
}
